Django>=5.0
djangorestframework
psycopg2-binary
redis
django-redis>=5.3.0
celery
python-decouple
gunicorn
pytest
django-cors-headers
django-extensions
djangorestframework-simplejwt
gunicorn
dj-database-url
whitenoise

